conky/*

ranger/.config/ranger/*
!ranger/.config/ranger/rc.conf
!ranger/.config/ranger/rifle.conf
!ranger/.config/ranger/scope.sh
!ranger/.config/ranger/commands.py

vim/.config/nvim/*
!vim/.config/nvim/init.vim
vim/.vim/*

music/.config/ncmpcpp/*
!music/.config/ncmpcpp/config

music/.config/mpd/*
!music/.config/mpd/mpd.conf

torrent/*

scripts/.config/bin/backup

mail/*
